@()

@main("Welcome to Play") {
	<script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>

	<ul id="persons"></ul>

	<form method="POST" action="@routes.Application.addPerson()">
		<input type="text" name="name"/>
		<button>Add Person</button>
	</form>

	<form method="POST" action="@routes.Application.addEpisodio()">
		<input type="text" name="Fecha"/>
		<input type="text" name="Intensidad"/>
		<input type="text" name="Descripcion"/>
		<input type="text" name="Lugar"/>
		<button>Agregar Episodio,auqniefaltaIDPERSONA</button>
	</form>

}
