@(message: String)

@main("Welcome to Play") {

    @play20.welcome(message, style = "Java")

<form action="@routes.Application.addDoctor()" method="post">
    <input type="text" name="name">
    <input type="text" apellido="apellido">
    <button> Agregar doctor </button>

</form>

    <form method="POST" action="@routes.Application.addEpisodio()">
        <input type="text" name="Fecha"/>
        <input type="text" name="Intensidad"/>
        <input type="text" name="Descripcion"/>
        <input type="text" name="Lugar"/>
        <button>Agregar Episodio,auqniefaltaIDPERSONA</button>
    </form>


}
