@(message: String)

@main("Welcome to Play") {

    @message
<h1>Agregar nuevo paciente</h1>
<form action="@routes.pacientesController.addPaciente()" method="post">
    <input type="text" name="nombre">
    <input type="text" name="apellido">
    <input type="text" name="genero">
    <input type="text" name="fechaNacimiento">
    <input type="text" name="documentoIdentidad">
    <input type="text" name="tipoDocumentoIdentidad">
    <input type="text" name="email">


    <button> Agregar paciente </button>
</form>

}
